<div class="engrave-page">
    <div class="loading"></div>
    <div class="disabled"></div>
    <div class="fields">
        <div class="col-md-12 no-padding">
            <div class="input-group">
                <input type="text" class="form-control text" placeholder="tekst die je wilt graveren" id="engrave-text-input">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle font-chooser" data-toggle="dropdown"><img src="<%= fonts[0].image %>" /> <span class="caret"></span></button>
                    <ul class="dropdown-menu font">
                        <% for(var i = 0; i < fonts.length; i ++){ %>
                        <% var font = fonts[i] %>
                        <li><a href="#" data-font="<%= font.name %>" ><img src="<%= font.image %>" /></a></li>
                        <% } %>
                    </ul>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle size-chooser" data-toggle="dropdown"><%= sizeMappings[sizes[0]] %> <span class="caret"></span></button>
                    <ul class="dropdown-menu size">
                        <% for(var i = 0; i < sizes.length; i++){%>
                        <% var size = sizes[i]; %>
                        <% var readable = sizeMappings[size] %>
                        <li><a href="#" data-size="<%= size %>"><%= readable %></a></li>
                        <% }; %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="engrave">Verzonken</button>
        <div class="counter">8</div>
        <button class="carve">Doorheen</button>
    </div>
</div>