<div class="engrave-page">
    <%
        var displayCSS = null;
        display ? displayCSS = "none" : displayCSS = "block";
    %>

    <div class="disabled" style="display: <%= displayCSS %>;">Kies a.u.b. eerst een location!</div>
    <div class="loading"><img src="/images/ajax-loader.gif"></div>
    <div class="fields">
        <input type="text" class="text">
        <select class="font">
            <% _.each(fonts, function(font){ %>
            <option value="<%= font %>"><%= font %></option>
            <% }); %>
        </select>
        <select class="size">
            <% var selected = Math.floor(sizes.length / 2); %>
            <% for(var i = 0; i < sizes.length; i++){%>
            <% var size = sizes[i]; %>
            <option value="<%= size %>" <% if(i == selected){ print('selected="selected"') } %>><%= size %></option>
            <% }; %>
        </select>
    </div>
    <div class="buttons">
        <button class="reset">Reset</button>
        <button class="engrave">Halverwege</button>
        <button class="carve">Doorheen</button>
    </div>
</div>