<div class="leg-page">
    <div class="legs slider">
        <% for(var i = 0; i < legs.length; i++){ %>
        <% var leg = legs[i]; %>
        <img src="<%= leg.img %>" class="leg<% if(leg.default || leg.active) print(' active'); %>" data-number="<%= i %>"/>
        <% }; %>
    </div>
    <div class="colors slider">
        <% _.each(colors, function(color){ %>
        <div class="color<% if(color.default){ print(' active'); } %>" data-color="<%= color.hex %>" style="background-color: <%= color.hex %>;">&nbsp;</div>
        <% }); %>
    </div>
</div>