<div class="leg-page">
    <div class="loading"><img src="/images/ajax-loader.gif"></div>
    <div class="slider legs">
        <div class="frame">
            <ul>
                <% for(var i = 0; i < patterns.length; i++){ %>
                <% var leg = patterns[i]; %>
                <li class="leg">
                    <img id="pattern-<%= leg._id %>" src="<%= leg.img %>" class="<% if(leg.default || leg.active) print(' active'); %>" data-number="<%= i %>"/>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
    </div>
    <div class="slider colors">
        <div class="frame">
            <ul>
                <% _.each(colors, function(color){ %>
                <li class="color" data-color="<%= color.hex %>" style="background-color: <%= color.hex %>"><div class="activated"></li>
                <% }); %>
            </ul>
        </div>
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
    </div>
</div>