extends layout
block head
    link(rel='stylesheet', href='/stylesheets/streep3d.css')

block content
    #frames

block js
    script(src='javascripts/vendor/require.js' data-main='javascripts/choose-frame/main')