extends layout
block head
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/royalslider/royalslider.css')
    link(rel='stylesheet', href='/javascripts/vendor/royalslider/skins/minimal-white/rs-minimal-white.css')
    link(rel='stylesheet', href='/javascripts/vendor/jscrollpane/jquery.jscrollpane.css')
    link(rel='stylesheet', href='/stylesheets/streep3d.css')
    link(rel='stylesheet', href='/stylesheets/edit-frame.css')

block content
    .column-right
        #overview
            .preview
                img(src='/images/preview.png', width="100%", height="100%")
            div(style='float: left; height: 80px; width: 100%')
                |   &nbsp;
            .price
            .order
                button
                    |   BESTEL
    .column-left
        .loading
            |   Montuur wordt ingeladen
        #renderer
        #menu

block js
    script(src='http://code.createjs.com/easeljs-0.7.0.min.js')
    script(src='http://code.createjs.com/tweenjs-0.5.0.min.js')
    script(src='/javascripts/vendor/three/build/three.js')
    script(src='/javascripts/vendor/csg.js')
    script(src='/javascripts/vendor/ThreeBSP.js')
    script(src='/javascripts/vendor/three/exporters/GeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/BufferGeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/MaterialExporter.js')
    script(src='/javascripts/vendor/three/exporters/STLExporter.js')
    script(src='/javascripts/vendor/three/exporters/ObjectExporter.js')
    script(src='/javascripts/vendor/three/loaders/STLLoader.js')
    script(src='/fonts/helvetiker/helvetiker_regular.typeface.js')
    script(src='/fonts/gentilis/gentilis_regular.typeface.js')
    script(src='/fonts/banana_brick/banana_brick_regular.typeface.js')
    script(src='/fonts/fantasque-sans-mono/fantasque_sans_mono_regular.typeface.js')
    script(src='/javascripts/vendor/filesaver.js')

    //jQuery.jsTree
    script(src='/javascripts/vendor/jstree/_lib/jquery.cookie.js')
    script(src='/javascripts/vendor/jstree/_lib/jquery.hotkeys.js')
    script(src='/javascripts/vendor/jstree/jquery.jstree.js')

    //Bootstrap
    script(src='/javascripts/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js')

    //Royal Slider
    script(src='/javascripts/vendor/royalslider/jquery.royalslider.min.js')

    //Sly
    script(src='/javascripts/vendor/sly.min.js')

    script(src='/javascripts/vendor/require.js', data-main='/javascripts/pages/edit-frame/main.js')