extends layout
block head
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/royalslider/royalslider.css')
    link(rel='stylesheet', href='/javascripts/vendor/royalslider/skins/minimal-white/rs-minimal-white.css')
    link(rel='stylesheet', href='/javascripts/vendor/jscrollpane/jquery.jscrollpane.css')
    link(rel='stylesheet', href='/javascripts/vendor/fancybox/jquery.fancybox.css')
    link(rel='stylesheet', href='/stylesheets/streep3d.css')
    link(rel='stylesheet', href='/stylesheets/edit-frame.css')

block content
    .column-right
        #overview
            .loading
            .preview
                a(href="#", class="facebook")
                    img(class='facebook', src='/images/facebook.png')
                img(src='/images/twitter.png')
                img(src='/images/m-wattes.png')
            .price
            .order
                button
                    |   BESTEL
    .column-left
        .loading
            |   Montuur wordt ingeladen
        .contents
            #buttons
                    .switch.on
                        |   &nbsp;
                    button(class='change-frame')
                        |   KIES MONTUUR
                    button(class='change-size')
                        |   KIES MAAT
                    button(class='download-stl')
                        |   Download STL
            .center-wrapper
                #renderer
                #menus
                    .frames
                    .size
                #menu


block js
    script(src='http://code.createjs.com/easeljs-0.7.0.min.js')
    script(src='http://code.createjs.com/tweenjs-0.5.0.min.js')
    script(src='/javascripts/vendor/three/build/three.js')
    script(src='/javascripts/vendor/csg.js')
    script(src='/javascripts/vendor/ThreeBSP.js')
    script(src='/javascripts/vendor/three/exporters/GeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/BufferGeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/MaterialExporter.js')
    script(src='/javascripts/vendor/three/exporters/STLExporter.js')
    script(src='/javascripts/vendor/three/exporters/ObjectExporter.js')
    script(src='/javascripts/vendor/three/loaders/STLLoader.js')

    //File saver
    script(src='/javascripts/vendor/filesaver.js')

    //Bootstrap
    script(src='/javascripts/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js')

    //Sly
    script(src='/javascripts/vendor/sly.min.js')

    //Fancybox
    script(src="/javascripts/vendor/fancybox/jquery.fancybox.pack.js")

    //Pinterest
    script(src="//assets.pinterest.com/js/pinit.js")

    script(src='/javascripts/vendor/require.js', data-main='/javascripts/pages/edit-frame/main.js')