extends layout
block head
    link(rel='stylesheet', href='/stylesheets/streep3d.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.css')
block content
    #streep3d
        #container.viewer
            .processes(style='display: none;')
                .entrys
    #templates(style='display: none;')
        #colordialog_template
            .colordialog(title='Choose Color for Component')
                p Please choose a color for the component.
                input(type='color')
        #engravetextdialog_template
            .engrave(title='Choose Engraving')
                p Please choose an option for the engraving.
                .options
                    .option.engravetype
                        .label
                            | Text:
                        .options
                            input(type='text', name='engravetext', size='15')
                    .option.font.last
                        .label
                            | Font:
                        .options
                            select(name='engravefont')
                                option(value='helvetiker', selected='selected')
                                    | Helvetiker
                                option(value='fantasque sans mono')
                                    | Fantasque Sans Mono
                                option(value='banana brick')
                                    | Banana Brick
                button.submit Engrave
        #engraveobjectdialog_template
            .engrave(title='Choose Engraving')
                p Please choose an option for the engraving.
                .engravetype
                    .radio
                        | Object:
                    .options
                        .object.template
                            input(type='radio', value='star', name='engraveobject')
                            label(for='engravestar') Star
                button.submit Engrave
block js
    script(src='/javascripts/vendor/pep.jquery.min.js')
    script(src='http://code.createjs.com/easeljs-0.7.0.min.js')
    script(src='http://code.createjs.com/tweenjs-0.5.0.min.js')
    script(src='/javascripts/vendor/jquery-ui-1.10.3.custom.min.js')
    script(src='/javascripts/vendor/three/build/three.js')
    script(src='/javascripts/vendor/csg.js')
    script(src='/javascripts/vendor/ThreeBSP.js')
    script(src='/javascripts/vendor/three/exporters/GeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/BufferGeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/MaterialExporter.js')
    script(src='/javascripts/vendor/three/exporters/STLExporter.js')
    script(src='/javascripts/vendor/three/exporters/ObjectExporter.js')
    script(src='/javascripts/vendor/three/loaders/STLLoader.js')
    script(src='/fonts/helvetiker/helvetiker_regular.typeface.js')
    script(src='/fonts/gentilis/gentilis_regular.typeface.js')
    script(src='/fonts/banana_brick/banana_brick_regular.typeface.js')
    script(src='/fonts/fantasque-sans-mono/fantasque_sans_mono_regular.typeface.js')
    script(src='/javascripts/vendor/filesaver.js')
    //jQuery.jsTree
    script(src='/javascripts/vendor/jstree/_lib/jquery.cookie.js')
    script(src='/javascripts/vendor/jstree/_lib/jquery.hotkeys.js')
    script(src='/javascripts/vendor/jstree/jquery.jstree.js')
    script(src='/javascripts/vendor/require.js', data-main='/javascripts/edit-frame/main.js')