extends layout
block head
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-3.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/vendor/royalslider/royalslider.css')
    link(rel='stylesheet', href='/javascripts/vendor/royalslider/skins/minimal-white/rs-minimal-white.css')
    link(rel='stylesheet', href='/javascripts/vendor/jscrollpane/jquery.jscrollpane.css')
    link(rel='stylesheet', href='/javascripts/vendor/fancybox/jquery.fancybox.css')
    link(rel='stylesheet', href='/stylesheets/streep3d.css')
    link(rel='stylesheet', href='/stylesheets/edit-frame.css')

block content
    .column-right
        #overview
            .loading
            .preview
                a(href="#", class="facebook")
                    img(class='facebook', src='/images/facebook.png')
                img(src='/images/twitter.png')
                img(src='/images/m-wattes.png')
            .price 
            .shipping
                |   Gratis verzending!<br><span style="font-size:10px;">10 werkdagen</span><br><br><br>Inclusief handgemaakte beschermhoes
            .order
                button(class='order')
                    |   BESTEL
    .column-left
        .command-loading
            |   Laden...
        .command-error
            |   Onze excuses, er is wat mis gegaan. Kunt u het a.u.b. later nog een keer proberen?
        .loading
            |   Montuur wordt ingeladen
        .contents
            #buttons
                    .switch.on
                        |   &nbsp;
                    button(class='preview-mode')
                        |   PREVIEW MODUS
                    button(class='exit-preview-mode')
                        |   EDIT MODUS
                    button(class='change-frame')
                        |   KIES MONTUUR
                    button(class='change-size')
                        |   KIES MAAT

            .center-wrapper
                #renderer
                #menus
                    .frames
                    .size
                #menu


block js
    //Bootstrap
    script(src='/javascripts/vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js')

    //Sly
    script(src='/javascripts/vendor/sly.min.js')

    //Fancybox
    script(src="/javascripts/vendor/fancybox/jquery.fancybox.pack.js")

    //Pinterest
    script(src="//assets.pinterest.com/js/pinit.js")

    //md5
    script(src="/javascripts/vendor/md5.js")

    script(src='/javascripts/vendor/require.js', data-main='/javascripts/pages/edit-frame/main.js')