extends layout

block content
    .renderTarget

block js
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='/javascripts/vendor/three/build/three.js')
    script(src='/javascripts/vendor/csg.js')
    script(src='/javascripts/vendor/ThreeBSP.js')
    script(src='/javascripts/vendor/three/exporters/GeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/BufferGeometryExporter.js')
    script(src='/javascripts/vendor/three/exporters/MaterialExporter.js')
    script(src='/javascripts/vendor/three/exporters/STLExporter.js')
    script(src='/javascripts/vendor/three/exporters/ObjectExporter.js')
    script(src='/javascripts/vendor/three/loaders/STLLoader.js')

    //FONTS
    script(src='/fonts/audiowide_regular.typeface.js')
    script(src='/fonts/helveticaneue_bold.typeface.js')
    script(src='/fonts/playball_regular.typeface.js')
    script(src='/fonts/rosewood_regular.typeface.js')
    script(src='/fonts/slackey_regular.typeface.js')
    script(src='/fonts/banana_brick/banana_brick_regular.typeface.js')
    script(src='/fonts/helvetiker/helvetiker_regular.typeface.js')
    script(src='/fonts/unifrakturmaguntia_book.typeface.js')

    script(src='/javascripts/vendor/require.js', data-main='/javascripts/pages/server-rendering/main')