#frames{
    float: left;
    height: 500px;
    width: 100%;
}

#frames .prev{
    z-index: 9999;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}


#frames .next{
    z-index: 9999;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

#frames .carousel{
    width: 100%;
    float: left;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
}

#frames .rsVisibleNearbyWrap{
    position: absolute;
}

#frames .rsCaption{
    margin: 20px auto;
    height: 60px;
    width: 30%;
}

#frames .buy-frame{
    text-align: center;
    height: 500px;
    display: none;
}

#frames .buy-frame .buy-buttons{
    margin: auto;
    height: 40px;
    width: 330px;
}

#frames .buy-frame .buy-buttons button.buy{
    float: left;
    background-color:#60e5a5;
    height: 30px;
    width: 90px;
    margin: 5px 10px 5px 10px;
    border: none;
    font-weight: bold;
    z-index: 9999;
}

#frames .buy-frame .price{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#frames .buy-frame .shipping{
    text-align: center;
}