/** Bootstrap overwrites **/

body{
    font-family: Allerta, Helvetica, Arial;
}

.nav-tabs{
    border-bottom: none;
}

.nav-tabs>li{
    font-weight: bold;
    background-color: white;
}

.nav-tabs>li>a{
    background-color: black;
}

.nav-tabs>li>a, .nav-tabs>li{
    color: white;
    border-radius: 0;
    border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li>a:hover, .nav-tabs>li.active>a:focus{
    color: white;
    background-color: #60e5a5;
}

.slider{
    width: 500px;
    overflow: hidden;
}

.slider .scrollbar {
    width: 100%;
    margin: 0 0 1em 0;
    height: 5px;
    background: #ccc;
    line-height: 0;
}

.slider .scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #60e5a5;
}

.slider .scrollbar .handle .mousearea{
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.slider .frame{
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}

.frame ul { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame ul li { float: left; margin: 0 5px 0 0; padding: 0; height: 100%; }

.colors{
    height: 75px;
}

.colors .color{
    position: relative;
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.colors .color .activated{
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    background-color: #60e5a5;
}

.colors .color.active .activated{
    display: block;
    z-index: 9999;
}

.fronts{
    height: 75px;
    margin-bottom: 10px;
}

.fronts .front{
    position: relative;
    height: 65px;
    width: 118px;
}

.fronts .front .activated{
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    background-color: #60e5a5;
}

.fronts .front.active .activated{
    display: block;
    z-index: 9999;
}

.noses .nose .activated{
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    background-color: #60e5a5;
}

.noses .nose.active .activated{
    display: block;
    z-index: 9999;
}

.column-left{
    height: 100%;
    margin-right: 250px;
}
.column-right{
    position: relative;
    float: right;
    width: 250px;
    height: 100%;
}
.column-left > .loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/images/ajax-loader.gif') #ffffff center no-repeat;
    z-index: 9999;
    display: table-cell;
    vertical-align: middle;
}

.column-left #menus{
    position: absolute;
    top: 0;
    left: 0;
}

.column-left #menus .size{
    z-index: 9999;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 205px;
    left: 5px;
    display: none;
    background-color: #ededed;
    -webkit-box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

.column-left #menus .size p{
    padding: 10px;
}

.column-left #menus .size .input-row{
    padding: 10px;
}

.column-left #menus .size .input-row input[type="radio"].streep{
    display: none;
}

.column-left #menus .size .input-row input[type="radio"].streep + label{
    position: relative;
    width: 19px;
    height: 19px;
    padding: 0 0 0 0;
    background: url(/images/unchecked.png) no-repeat;
    display: inline-block;
}

.column-left #menus .size .input-row input[type="radio"].streep.checked + label{
    position: relative;
    width: 19px;
    height: 19px;
    padding: 0 0 0 0;
    background: url(/images/checked.png) no-repeat;
    display: inline-block;
}

.column-left #menus .size .input-row .label{
    color: black;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.column-left #menus .frames{
    display: none;
    z-index: 9999;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 155px;
    left: 5px;
    background-color: #ededed;
    -webkit-box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

.column-left #menus .frames .frame{
    cursor: pointer;
    float: left;
    width: 230px;
    height: 180px;
    margin: 10px;
    text-align: center;
}

.column-left #menus .frames .frame .active-indicator{
    height: 5px;
    width: 100%;
}

.column-left #menus .frames .frame.active .active-indicator{
    background-color: #60e5a5;
}

.column-left #menus .frames .frame h3{
    font-weight: bold;
    font-size: 1.3em;
}

.column-left #buttons{
   z-index: 9998;
   top: 60px;
   position: relative;
   float: left;
   height: 50px;
   width: 200px;
}
.column-left #buttons button{
    width: 200px;
    font-size: 12px;
    background-color: black;
    color: white;
    height: 40px;
    margin: 5px 5px;
}

.column-left #buttons .switch{
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid #222222;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    background: url('/images/info.png') no-repeat center;
}

.column-left #renderer{
    position: relative;
    height: 50%;
    float: left;
}

.column-left #menu{
    width: 100%;
    height: 250px;
    float: left;
}

#menu .contents{
    width: 500px;
    margin: 0 auto;
}

#menu .contents .tab-content{
    padding: 5px 10px 5px 10px;
    background-color: #ededed;
    -webkit-box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    float: left;
}

#menu .contents .tab-content #color .leg-page{
    position: relative;
    float: left;
}

#menu .contents .tab-content #color .leg-page .loading{
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2a2a2a;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    display: none;
    z-index: 9999;
}

#menu .contents .tab-content #color .leg-page .legs{
    position: relative;
    float: left;
    width: 480px;
    margin: 10px 0 10px 0;
}

#menu .contents .tab-content #color .leg-page .legs .leg{
    position: relative;
    width: 118px;
    height: 65px;
    overflow: hidden;
}

#menu .contents .tab-content #color .leg-page .legs .leg img{
    position: absolute;
    display: block;
    cursor: pointer;
    margin-right: 2px;
    width: 118px;

}

#menu .contents .tab-content #color .leg-page .legs img.active{
    border-top: 3px solid #60e5a5;
    height: 65px;
}

#menu .contents .tab-content #color .leg-page .legs .leg .price{
    position: absolute;
    background-color: #60e5a5;
    font-weight: bold;
    bottom: -20px;
    right: -30px;
    height: 50px;
    width: 70px;
    text-align: center;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

#menu .contents .tab-content #color .leg-page .colors {
    border-top: 1px solid #dcdcdc;
    padding: 8px 0 8px 0;
    width: 480px;
}

#menu .contents .tab-content #color .leg-page .colors .color{
    width: 50px;
    height: 50px;
    margin-right: 2px;
    cursor: pointer;
}

#menu .contents .tab-content #color .leg-page .colors .color.active{
    -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75);
    box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.75);
}

#menu .contents .tab-content #engrave .engrave-page{
    position: relative;
    float: left;
}

#menu .contents .tab-content #engrave .engrave-page .fields{
    width: 100%;
    position: relative;
}

#menu .contents .tab-content #engrave .engrave-page .disabled, .loading{
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2a2a2a;
    font-size: 25px;
    text-align: center;
    display: none;
    padding: 10px 20px;
}

#menu .contents .tab-content #engrave .engrave-page .disabled, .loading img{
    float: left;
}

#menu .contents .tab-content #engrave .engrave-page .fields{
    float: left;
    margin-bottom: 5px;
}

#menu .contents .tab-content #engrave .engrave-page .fields select{
    float: left;
}

#menu .contents .tab-content #engrave .engrave-page .fields input.text{
    border-right: 1px solid #dcdcdc;
    float: left;
    width: 200px;
}

#menu .contents .tab-content #engrave .engrave-page .buttons{
    float: left;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid #dcdcdc;
}

#menu .contents .tab-content #engrave .engrave-page .buttons button{
    margin: 0 5px 0 5px;
    float: left;
}

#menu .contents .tab-content #engrave .engrave-page .buttons button.reset{
    float: right;
}

#menu .contents .tab-content #front_color .front-page{
    position: relative;
}

#menu .contents .tab-content #front_color .front-page .loading{
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2a2a2a;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    display: none;
    z-index: 9999;
}

#menu .contents .tab-content #front_color .front-page .colors{
    width: 480px;
}

#menu .contents .tab-content #front_color .front-page .fronts{
    height: 75px;
    width: 480px;
}

#menu .contents .tab-content #front_color .front-page .fronts .front{
    width: 118px;
    height: 65px;
    position: relative;
    overflow: hidden;
}

#menu .contents .tab-content #front_color .front-page .fronts .front img{
    position: absolute;
    cursor: pointer;
}

#menu .contents .tab-content #front_color .front-page .fronts .front img.active{
    border-top: 3px solid #60e5a5;
}

#menu .contents .tab-content #front_color .front-page .fronts .front .price{
    position: absolute;
    background-color: #60e5a5;
    font-weight: bold;
    bottom: -20px;
    right: -30px;
    height: 50px;
    width: 70px;
    text-align: center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu .contents .tab-content #front_nose .nose-page{
    position: relative;
}

#menu .contents .tab-content #front_nose .nose-page .loading{
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #2a2a2a;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    display: none;
    z-index: 9999;
}

#menu .contents .tab-content #front_nose .nose-page .noses{
    height: 75px;
    width: 480px;
}

#menu .contents .tab-content #front_nose .nose-page .noses .nose{
    width: 118px;
    height: 65px;
    position: relative;
    overflow: hidden;
}

#menu .contents .tab-content #front_nose .nose-page .noses .nose img{
    position: absolute;
    cursor: pointer;
}

#menu .contents .tab-content #front_nose .nose-page .noses .nose img.active{
    border-top: 3px solid #60e5a5;
}

#menu .contents .tab-content #front_nose .nose-page .noses .nose .price{
    position: absolute;
    background-color: #60e5a5;
    font-weight: bold;
    bottom: -20px;
    right: -30px;
    height: 50px;
    width: 70px;
    text-align: center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
}

.overlay .indicator{
    background: url('/images/indicator.png') no-repeat;
    text-align: center;
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    padding: 10px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    background-size:25px 25px;
}

.streep-tooltip{
    width: 200px;
    position: absolute;
    color: white;
    opacity: 0.8;
    display: none;
}

.streep-tooltip img{
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));
}


.streep-tooltip .text{
    position: absolute;
    top: 20px;
    left: 0;
    padding: 10px;
    height: 20px;
    text-align: center;
    width: 100%;
}

.streep-tooltip.top{
    margin-top: 25px;
    margin-left: -288px;
}

.overlay .indicator-tooltip{
    width: 200px;
    position: absolute;
    color: black;
}

.overlay .indicator-tooltip.top{
    margin-top: -100px;
}

.overlay .indicator-tooltip.top .arrow{
    position: absolute;
    top: 25px;
    left: 0;
    height: 58px;
    width: 26px;
    background: url('/images/arrow_down.png') no-repeat;
}

.overlay .indicator-tooltip.top .text{
    text-align: center;
    width: 200px;
    position: absolute;
    top: 0;
    height: 25px;
    margin-left: -100px;
}

.overlay .indicator-tooltip.left{
    margin-left: -25px;
}

.overlay .indicator-tooltip.left .arrow{
    position: absolute;
    right: 0;
    height: 26px;
    width: 58px;
    background: url('/images/arrow_right.png') no-repeat;
}

.overlay .indicator-tooltip.left .text{
    width: 200px;
    position: absolute;
    top: 25px;
    left: 0;
    text-align: right;
}


.overlay .indicator-tooltip.bottom{
}

.overlay .indicator-tooltip.bottom .arrow{
    height: 58px;
    width: 26px;
    background: url('/images/arrow_top.png') no-repeat;
}

.overlay .indicator-tooltip.right{
    margin-left: 50px;
}

.overlay .indicator-tooltip.right .arrow{
    height: 26px;
    width: 58px;
    background: url('/images/arrow_left.png') no-repeat;
}

.overlay .indicator-tooltip.right .text{
    margin-left: 40px;
}

#overview{
    margin: 50px 10px 50px 10px;
    background-color: #ededed;
    -webkit-box-shadow: -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 3px 8px 0px rgba(50, 50, 50, 0.75);
    width: 230px;
    float: left;
    position: relative;
}

#overview .preview{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    float: left;
}

#overview .preview .pinterest-wrapper a{
    position: relative;
    display: inline;
}


#overview .preview img{
    cursor: pointer;
}

#overview .price{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#overview .order{
    float: left;
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
}

#overview .order button{
    width: 190px;
}

#overview .loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/ajax-loader.gif') rgba(255, 255, 255, 0.8) center no-repeat;
}

.overlay .indicator:hover, .overlay .indicator.selected{
    background: url('/images/indicator_hover.png') no-repeat;
    background-size: 25px 25px;
}