<p>
    For the selected model, standard size is the most widespread and its chosen by a large part of our customers. Need help to estimate the right size?
</p>
<div class="input-row">
    <input type="radio" value="s" name="size" class="streep"/><label /><div class="label">SMALL</div>
</div>
<div class="input-row">
    <input type="radio" value="m" name="size" class="streep checked"/><label /><div class="label">STANDAARD</div>
</div>
<div class="input-row">
    <input type="radio" value="l" name="size" class="streep"/><label /><div class="label">LARGE</div>
</div>