<%
    var frameClass = "frame";
    var start = selected;
    if(frames.length < amountItems && selected < amountItems){
        var difference = amountItems - frames.length;
        for(var i = 0; i < difference; i++){ %>
            <div class="<%= frameClass %> filler">&nbsp;</div>
        <%}
    }else{
        start -= Math.floor(frames.length / 2);
    }
%>
<% for(var i = 0; i < frames.length; i++){ %>
    <%
        var className = frameClass;
        var frame = frames[i];
        var order = start + i;
        if(order == selected){
            className += " focus";
        }
    %>
    <div class="<%= className %>" data-id="<%= frame._id %>" data-order="<%= order %>" title="<%= frame.name %>">
        <div class="description">
            <h2><%= frame.name %></h2>
            <p>
                <%= frame.description_short %>
            </p>
        </div>
        <div class="img">
            <img src="<%= frame.img_high %>" title="<%= frame.name %>"/>
        </div>
    </div>
<% } %>
<% if(frames.length < amountItems && selected > amountItems){
    var difference = amountItems - frames.length;
    for(var i = 0; i < difference; i++){ %>
        <div class="<%= frameClass %> filler">&nbsp;</div>
    <%}
} %>
